.nav {
  grid-area: n;
  background-color: #1c3a56;

  .item {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;

    a {
      color: #fff;
      text-decoration: none;
    }

    .active {
      color: #bdbebd;
    }
  }
}
