.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  .users {
    padding: 10px;
    .active {
        color: #bdbebd
    }
    // .chat {
    // }
  }
  .messages {
    padding: 10px;
      color:#bdbebd
  }
  textarea {
    margin-right: 10px;
    width: 300px;
  }
  .btn {
    margin-top: 2px;
  }
}
